<!doctype html>
<html lang="en">
  <head>
    
  </head>
  <body class="text-center">
    <form action="link/short/" method="post">
  <h1 class="h3 mb-3 font-weight-normal">请输入长域名</h1>
  <label>域名（http或者https开头）</label>
  <input type="url" name="url" required>
  <button type="submit">查看短域名</button>
</form>

<form action="link/full/" method="post">
    <h1 class="h3 mb-3 font-weight-normal">请输入短域名</h1>
    <label>域名（http或者https开头）</label>
    <input type="text" name="url" required>
    <button type="submit">查看长域名</button>
  </form>
</body>
</html>
